# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv2/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.vscode/

# Ignore all .png files
*.png

# Ignore all .csv files
*.csv